{% extends "base.html" %} {% block title %} About {% endblock %} {% block content %}

<br>
<br>
<br>
<style>
  body{
   /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,76,9,1) 46%, rgba(0,212,255,1) 100%);
  } 
  h1, p, th, td, h2 {
    color: rgba(255, 255, 255, 0.7);
  }
  
 </style>
<div>
    <h1>Dashboard</h1>
    <p>Welcome {{ current_user.name}}</p>
</div>

<div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                Comments
              </a>
            </li>
            
          </ul>
         
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        <h2>Reviews</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Feedback</th>
                <th>Rating</th>
                <th>Reviewer</th>
                <th>Posted</th>
              </tr>
            </thead>
            <tbody>
              {% for review in company_review %}
              
              <tr>
                <td>{{review.feedback}}</td>
                <td>{{review.rating}}</td>
                <td><a href="{{ url_for('singleUser', id=review.user.id) }}" >{{review.user.username}}</a></td>
                <td>{{review.commment_date.strftime('%m/%d/%Y  %I:%M')}}</td>
              </tr>
           
              {% endfor %}
            </tbody>
          </table>
        </div>
        <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

      </main>
    </div>
  </div>

{% endblock %}